/* ID */
#mobile-navbar {
	width: 419px;
	height: 49px;
	border-radius: 25px;
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	overflow: hidden;
	background-color: darkorchid;
	border: 2px solid pink;
}

#mobile-nav-btn-contact {
	border-right: none;
}

/* class */
.mobile-nav-btn {
	padding: 15px 21px;
	display: inline-block;
	overflow: hidden;
	border-right: 2px solid pink;
}

.mobile-nav-btn:hover {
	background-color: pink;
	overflow: hidden;
	cursor: pointer;
}
