/* id */
#carousel-hero {
	/* height: 800px; */
	background-color: lightgrey;
}

.carousel__list {
	display: flex;
	list-style: none;
	padding: 0;
	padding: 1rem 0 0;
	overflow: hidden;
	/* position: relative; */
	width: 75vw;
	margin: 0 auto;
	max-width: 50rem;
}

.carousel__item {
  flex: 0 0 auto;
  width: 800px;
  padding: 0;
  margin: 0;
}