#sticky {
  position: fixed;
  top: 0;
  width: 90vw;
}

.App {
  text-align: center;
  vertical-align: center;
  background-color: pink;
}

.margins {
  width: 90%;
  margin-left: 5%;
  height: 100%;
}

header {
  background-color: teal;
  grid-column: 1 / 5;
  padding: 20px;
}

main {
  background-color: cyan;
  grid-row: 3 / 4;
  grid-column: 1 / 5;
  height: 100vh;
}
