/* ID */
#App {
  text-align: center;
  vertical-align: center;
  display: grid;
  /* grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr; */
  background-color: pink;
}

#sticky {
  position: fixed;
  top: 0;
  width: 90vw;
}

#top-btn {
  position: fixed;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  left: 95%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-style: none;
  background-color: plum;
}

#top-btn:hover {
  cursor: pointer;
  background-color: rosybrown;
}

/* class */
.mobile-margins-false {
  margin-right: 5%;
  margin-left: 5%;
}

.mobile-margins-true {
  width: 100%;
}

header {
  background-color: teal;
  grid-column: 1 / 5;
  padding: 20px;
}

body {
  grid-column: 1 / 5;
}
main {
  background-color: cyan;
  /* grid-row: 3 / 4; */
  /* grid-column: 1 / 5; */
  padding: 20px;
}
