#sticky {
  position: fixed;
  top: 0;
  width: 90vw;
}

.App {
  text-align: center;
  vertical-align: center;
  background-color: pink;
}

.margins {
  width: 90vw;
  margin-left: 5vw;
  height: 100%;
}

/* .main-body {
  background-color: coral;
  vertical-align: center;
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template: 100px 20px auto 50px / 1fr 1fr 1fr 1fr;
} */

header {
  background-color: teal;
  grid-column: 1 / 5;
  height: 10vh;
}

main {
  background-color: cyan;
  grid-row: 3 / 4;
  grid-column: 1 / 5;
  height: 100vh;
}
